<nav class="navbar navbar-expand-sm bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/">Clínica</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">

        <a routerLink="/" class="nav-link" aria-current="page">Inicio</a>
        <a routerLink="/admin/usuarios" class="nav-link" aria-current="page">Usuarios</a>
        <a routerLink="/auth/login" class="nav-link">Ingresar</a>
        <a routerLink="/auth/register" class="nav-link">Registro</a>

        <a routerLink="" (click)="authenticationService.signOut()" class="nav-link">Salir</a>

<!-- 
        <div *ngIf="authenticationService.isLoggedIn; then thenBlock else elseBlock"></div>
        <ng-template #thenBlock>
          <a routerLink="/menu-juegos">Juegos</a>
          <a routerLink="" (click)="authenticationService.signOut()">Salir</a>
        </ng-template>
        <ng-template #elseBlock>
          <a routerLink="/login">Ingresar</a>
        </ng-template>

        
        <a [routerLink]="item.link" class="nav-link active" aria-current="page">{{item.etiqueta}}</a>

        <a class="nav-link active" aria-current="page" href="#">Home</a>
        <a class="nav-link" href="#">Features</a>
        <a class="nav-link" href="#">Pricing</a>
        <a class="nav-link disabled" aria-disabled="true">Disabled</a>
 -->
      </div>
    </div>
  </div>
</nav>


<ng-content selector="router-outlet"></ng-content>
