<div *ngIf="datos" class="usuarios">
<div class="card p-1 mx-auto">
<div class="card-body">

	<div class="detalle d-flex align-items-start">

      	<div class="d-flex flex-column">
          	<div *ngFor="let imagen of imagenes | async" class="pic my-1">
		        <img src="{{imagen}}" class="img-fluid" alt="">
          	</div>
      	</div>

      	<div class="detalle-info">
            <h4>{{datos | nombreUsuario}}</h4>
            <span>{{datos.rol | titlecase}}</span>
            <p>Edad: {{datos.edad}}</p>
            <p>DNI: {{datos.dni}}</p>
            <p>Email: {{datos.email}}</p>
            <p *ngIf="esPaciente">Obra Social: {{datos.obraSocial}}</p>
            <p *ngIf="esEspecialista">
            	Especialidad:
            	<span *ngFor="let item of datos.especialidad" class="ps-3">{{item | titlecase}}</span>
            </p>
      	</div>
    </div>

</div></div></div>
