<section class="appointment">
	<div class="container">

		<div class="section-title">
	      <h2 *ngIf="esAdmin">Usuarios</h2>
	      <h2 *ngIf="!esAdmin">Pacientes</h2>
	    </div>

	    <!-- Crear usuario -->
	    <div *ngIf="esAdmin" class="icon-toggle">
			<div class="icon" title="Nuevo Usuario" (click)="crearAdmin()">
				<i class="fa-solid fa-user-plus"></i>
			</div>
		</div>

		<div *ngIf="usuarios | async; then listaContenido else listaSpinner"></div>
		<ng-template #listaSpinner>
			<app-spinner></app-spinner>
		</ng-template>

		<ng-template #listaContenido>
			<div class="row justify-content-md-center">
			    
			    <!-- Filtros -->
				<div *ngIf="esAdmin" class="col col-lg-1 text-center">
					<div class="icon-toggle" (click)="mostrarEspecialistas()">
						<div class="icon" title="Especialistas">
							<i class="fas fa-stethoscope"></i>
						</div>
					</div>
					<div class="icon-toggle" (click)="mostrarPacientes()">
						<div class="icon" title="Pacientes">
							<i class="fa-solid fa-hospital-user"></i>
						</div>
					</div>
					<div class="icon-toggle" (click)="mostrarAdmins()">
						<div class="icon" title="Administradores">
							<i class="fa-solid fa-screwdriver-wrench"></i>
						</div>
					</div>
					<div class="icon-toggle" (click)="mostrarTodos()">
						<div class="icon" title="Limpiar filtros">
							<i class="fa-regular fa-square-minus"></i>
						</div>
					</div>
				</div>

				<!-- Listado -->
				<div class="col col-lg-5">
					<usuarios-lista [lista]="usuarios" [conHabilitacion]="esAdmin" (seleccionado)="mostrarDetalle($event)" (toggleHabilitacion)="toggleHabilitar($event)"></usuarios-lista>
				</div>

				<!-- Detalles -->
				<div class="col col-lg-6">
					<usuario-detalle [datos]="usuarioDetalle" [imagenes]="usuarioImagenes"></usuario-detalle>

					<!-- Listado de turnos -->
					<h4 *ngIf="turnosPaciente" class="px-lg-5 mt-2">Turnos</h4>
					<turnos-lista *ngIf="turnosPaciente" [lista]="turnosPaciente" [tipo]="'historia'"></turnos-lista>
				</div>

			</div>

		</ng-template>
  </div>


</section>
