<section><div class="container">

	<div *ngIf="usuario.rol==''; then thenBlock else elseBlock"></div>
	<ng-template #thenBlock>
	<div class="section-title">
		<h2>Seleccione el tipo de usuario</h2>
    </div>

    <div class="row justify-content-md-center">
		<div class="col-lg-4 col-md-6 mx-4 mb-2 align-items-stretch">
			<div class="icon-box" (click)="setEspecialista()">
				<div class="icon"><i class="fas fa-stethoscope"></i></div>
				<h4><a href="">Especialista</a></h4>
			</div>
		</div>

		<div class="col-lg-4 col-md-6 mx-4 mb-2 align-items-stretch mt-4 mt-md-0">
        	<div class="icon-box" (click)="setPaciente()">
          		<div class="icon"><i class="fa-solid fa-hospital-user"></i></div>
          		<h4><a href="">Paciente</a></h4>
        	</div>
      	</div>

    </div>
	</ng-template>

	<ng-template #elseBlock>
	<div class="card m-3 p-1 mx-auto">
	<div class="card-body">

		<div class="section-title">
			<div *ngIf="esPaciente">
				<h2>Datos del Paciente</h2>
			</div>
			<div *ngIf="esEspecialista">
				<h2>Datos del Especialista</h2>
			</div>
			<div *ngIf="esAdmin">
				<h2>Datos del Administrador</h2>
			</div>
	    </div>

	    <form class="formulario">

	    	<div class="row">

				<div class="col-md-4 form-group">
					<div class="form-floating mb-3">
						<input type="text" class="form-control" id="nombre" name="nombre" #nombre placeholder="Nombre" [(ngModel)]="usuario.nombre">
						<label for="nombre">Nombre</label>
					</div>
				</div>
				<div class="col-md-4 form-group">
					<div class="form-floating mb-3">
						<input type="text" class="form-control" id="apellido" name="apellido" #apellido placeholder="Apellido" [(ngModel)]="usuario.apellido">
						<label for="apellido">Apellido</label>
					</div>
				</div>
	      	</div>

	      	<div class="row">
				<div class="col-md-4 form-group">
					<div class="form-floating mb-3">
						<input type="text" class="form-control" id="edad" name="edad" #edad placeholder="Edad" [(ngModel)]="usuario.edad">
						<label for="edad">Edad</label>
					</div>
				</div>

				<div class="col-md-4 form-group">
					<div class="form-floating mb-3">
						<input type="text" class="form-control" id="dni" name="dni" #dni placeholder="DNI" [(ngModel)]="usuario.dni">
						<label for="dni">DNI</label>
					</div>
				</div>
				<div class="col-md-4 form-group">

						<div *ngIf="esPaciente">
							<div class="form-floating mb-3">
								<select class="form-select" id="obrasocial" name="obrasocial" #obrasocial [(ngModel)]="usuario.obraSocial">
									<option *ngFor="let item of obrasSociales" value="{{item}}">{{item}}</option>
								</select>
								<label for="obrasocial">Obra Social</label>
							</div>
						</div>
						<div *ngIf="esEspecialista">
							<div class="form-floating mb-3">
								<select class="form-select" id="especialidad" name="especialidad" #especialidad [(ngModel)]="usuario.especialidad">
									<option *ngFor="let item of especialidades" value="{{item}}">{{item}}</option>
								</select>
								<label for="especialidad">Especialidad</label>
							</div>
						</div>

				</div>



	      	</div>

			<div class="row">

				<div class="col-md-4 form-group">
					<div class="form-floating mb-3">
						<input type="email" class="form-control" id="email" name="email" #email placeholder="Email" [(ngModel)]="usuario.email">
						<label for="email">Email</label>
					</div>
				</div>

				<div class="col-md-4 form-group">
					<div class="form-floating mb-3">
						<input type="password" class="form-control" id="clave" name="clave" #clave placeholder="Contraseña" [(ngModel)]="usuario.clave">
						<label for="clave">Contraseña</label>
					</div>
				</div>
			</div>

			<div class="text-center">
				<button (click)="signUp()">Registrarse</button>
			</div>

		</form>
	</div>
	</div>
	</ng-template>

</div></section>