<section class="appointment"><div class="container">

	<div class="section-title">
      <h2>Nuevo Turno</h2>
    </div>

    <h3 class="text-center mb-2">{{subtitulo}}</h3>

	<!-- Filtro de pacientes -->
	<div *ngIf="!paciente">
		<div *ngIf="usuarios; then pacientesContenido else pacientesSpinner"></div>
		<ng-template #pacientesSpinner>
			<app-spinner></app-spinner>
		</ng-template>

		<ng-template #pacientesContenido>
		    
		    <!-- Lista de pacientes -->
			<div class="row tarjetitas">
				<div class="col-lg-12 align-items-stretch">
			          <div class="row icon-boxes justify-content-center">

			                <div class="col-xl-2 align-items-stretch text-center" *ngFor="let usuario of usuarios" (click)="seleccionarPaciente(usuario)">
			                  	<div appResaltarLista class="icon-box mt-4 mt-xl-0">
			                    	<img src="{{usuario.archivoURL}}" class="img-fluid" alt="">
			                  	</div>
				                <h4 class="mt-2">{{usuario | nombreUsuario}}</h4>
			                </div>

			        </div>
			    </div>
			</div>
		</ng-template>
	</div>
	<!-- Fin filtro de pacientes -->

	<div *ngIf="paciente" class="row align-items-stretch">
		<!-- Filtro de especialistas -->
		<div *ngIf="usuarios; then especialistasContenido else especialistasSpinner"></div>
		<ng-template #especialistasSpinner>
			<app-spinner></app-spinner>
		</ng-template>

		<ng-template #especialistasContenido>
		    
		    <!-- Lista de especialistas -->
			<div class="row tarjetitas">
				<div class="col-lg-12 align-items-stretch">
			          <div class="row icon-boxes justify-content-center">

			                <div class="col-xl-2 align-items-stretch text-center" *ngFor="let usuario of usuarios" (click)="mostrarEspecialidades(usuario)">
			                  	<div appResaltarLista class="icon-box mt-4 mt-xl-0">
			                    	<img src="{{usuario.archivoURL}}" class="img-fluid" alt="">
			                  	</div>
				                <h4 class="mt-2">{{usuario | nombreUsuario}}</h4>
			                </div>

			        </div>
			    </div>
			</div>
		</ng-template>
		<!-- Fin filtro de especialistas -->
	</div>


	<div *ngIf="especialista" class="row align-items-stretch">

		<!-- Mostrar especialista y especialidad seleccionados -->
		<div class="col-lg-2 align-items-stretch tarjetitas text-center">

			<div *ngIf="esAdmin">
				<div class="icon-boxes">
	              	<div class="icon-box mt-4 mt-xl-0">
	                	<img src="{{paciente.archivoURL}}" class="img-fluid" alt="">
	              	</div>
	                <h4 class="mt-2">{{paciente | nombreUsuario}}</h4>
		    	</div>
		    </div>

			<div class="icon-boxes">
              	<div class="icon-box mt-4 mt-xl-0">
                	<img src="{{especialista.archivoURL}}" class="img-fluid" alt="">
              	</div>
                <h4 class="mt-2">{{especialista | nombreUsuario}}</h4>
                <h5 *ngIf="especialidad" class="mt-2">{{especialidad | titlecase}}</h5>
	    	</div>

	    </div>


	    <!-- Especialidad / Turno -->
		<div *ngIf="especialidad; then seleccionTurno else seleccionEspecialidad"></div>

	    <!-- Mostrar selección de especialidad -->
		<ng-template #seleccionEspecialidad>
		<div class="col-lg-10">

			<!-- Especialidades -->
			<especialidades-lista [lista]="especialista.especialidad" (seleccionado)="mostrarTurnos($event)"></especialidades-lista>

		</div>
		</ng-template>

		<!-- Mostrar selección de turno -->
	    <ng-template #seleccionTurno>
    	<div class="col-lg-10">

    		<!-- Turnos -->
			<turnos-lista [lista]="turnosDisponibles" [tipo]="'solicitud'" (seleccionado)="confirmarTurno($event)"></turnos-lista>

    	</div>
		</ng-template>

	</div>

</div></section>
