<section class="appointment">
	<div class="container">

		<div class="section-title">
	      <h2>Nuevo Turno</h2>
	    </div>

		<div *ngIf="usuarios; then especialistasContenido else especialistasPreloader"></div>
		<ng-template #especialistasPreloader>
			<div id="preloader"></div>
		</ng-template>

		<ng-template #especialistasContenido>
		    <!-- Filtros -->
			<!-- Especialistas -->
		    
			<div class="row tarjetitas">
				<div class="col-lg-12 align-items-stretch">
			          <div class="icon-boxes flex-column justify-content-center">
			            <div class="row">

			                <div class="col-xl-2 align-items-stretch" *ngFor="let usuario of usuarios" (click)="mostrarEspecialidades(usuario)">
			                  	<div class="icon-box mt-4 mt-xl-0">
			                  		<!-- <i class="{{mostrarIcono(usuario)}}"></i> -->
			                    	<img src="{{usuario.archivoURL}}" class="img-fluid" alt="">
			                  	</div>
				                <h4 class="mt-2">{{usuario.nombre | titlecase}} {{usuario.apellido | titlecase}}</h4>
			                </div>

			            </div>
			        </div>
			    </div>
			</div>


		</ng-template>





		<div *ngIf="turnosDisponibles | async; then contenidoBlock else preloader"></div>
		<ng-template #preloader>
			<!-- <div id="preloader"></div> -->
		</ng-template>

		<ng-template #contenidoBlock>
			<div class="row justify-content-md-center">

				<!-- Turnos -->
				<div class="col col-lg-5">
					<div class="list-group">
						<button *ngFor="let turno of turnosDisponibles | async" type="button" class="list-group-item list-group-item-action" 
						data-bs-toggle="modal" data-bs-target="#confirmarModal" (click)="setTurno=turno">
							
							<div class="row g-0 py-1">
							    <div class="col-md-1">
							    	<div class="icon"><i class=""></i></div>
							    </div>
							    <div class="col-md-11 d-flex">
							      	<h5>{{turno.horario | date:'short'}}</h5>
							    </div>
							</div>
						</button>

						<!-- Modal -->
						<div class="modal fade" id="confirmarModal" tabindex="-1" aria-labelledby="confirmarModalLabel" aria-hidden="true">
						  <div class="modal-dialog">
						    <div class="modal-content">
						      <div class="modal-header">
						        <h1 class="modal-title fs-5" id="confirmarModalLabel">Confirmar turno</h1>
						      </div>
						      <div class="modal-body">
						      	<form class="formulario">
							      	<h3 *ngIf="turnoSeleccionado">{{turnoSeleccionado.horario | date:'short'}}</h3>
						      	</form>
						      </div>

						      <div class="modal-footer formulario">
						        <button type="button" data-bs-dismiss="modal">Cancelar</button>
						        <button type="button" data-bs-dismiss="modal" (click)="confirmarTurno()">Confirmar</button>
						      </div>
						    </div>
						  </div>
						</div>

					</div>
				</div>

				<!-- Detalles -->
				<!-- <div class="col col-lg-6 usuarios detalle">

					<div *ngIf="usuarioDetalle" class="detalle d-flex align-items-start">

		              	<div class="pic d-flex flex-column">
					        <img *ngFor="let imagen of imagenes | async" src="{{imagen}}" class="img-fluid my-2" alt="">
		              	</div>

		              	<div class="detalle-info">
			                <h4>{{usuarioDetalle.nombre | titlecase}} {{usuarioDetalle.apellido | titlecase}}</h4>
			                <span>{{usuarioDetalle.rol | titlecase}}</span>
			                <p>Edad: {{usuarioDetalle.edad}}</p>
			                <p>DNI: {{usuarioDetalle.dni}}</p>
			                <p>Email: {{usuarioDetalle.email}}</p>
			                <p *ngIf="esPaciente">Obra Social: {{usuarioDetalle.obraSocial}}</p>
			                <p *ngIf="esEspecialista">
			                	Especialidad:
			                	<span *ngFor="let item of usuarioDetalle.especialidad" class="ps-3">{{item | titlecase}}</span>
			                </p>
		                
		              </div>
		            </div>
				</div> -->

			</div>

		</ng-template>
  </div>


</section>
