
<div *ngIf="orientacionVertical">
<div class="list-group">
	<button appResaltarLista *ngFor="let usuario of lista | async" type="button" class="list-group-item list-group-item-action"
		(click)="seleccionar(usuario)">
		
		<div class="row g-0 py-1">
		    <div class="col-md-1">
		    	<div class="icon"><i class="{{usuario | mostrarIcono}}"></i></div>
		    </div>
		    <div class="col-md-11 d-flex ps-2">
		    	<h5>{{usuario | nombreUsuario}}</h5>

		    	<div *ngIf="habilitacion && usuario.rol=='especialista'" class="ms-auto">
			    	<div *ngIf="!usuario.habilitado; then botonHabilitar else botonDeshabilitar"></div>
					<ng-template #botonHabilitar>
						<button type="button" class="btn btn-success btn-sm" (click)="toggleHabilitar(usuario)">Habilitar</button>
					</ng-template>
					<ng-template #botonDeshabilitar>
			      		<button type="button" class="btn btn-danger btn-sm" (click)="toggleHabilitar(usuario)">Deshabilitar</button>
					</ng-template>
				</div>

		    </div>
		</div>

	</button>
</div>
</div>

<div *ngIf="orientacionHorizontal">

<div class="row tarjetitas">
	<div class="col-lg-12 align-items-stretch">
      	<div class="icon-boxes flex-column justify-content-center">
        	<div class="row">

	            <div class="col-xl-2 align-items-stretch" *ngFor="let usuario of lista" (click)="seleccionar(usuario)">
	              	<div class="icon-box mt-4 mt-xl-0">
	              		<i class="{{mostrarIcono(usuario)}}"></i>
	                    <h4 class="mt-2">{{usuario | nombreUsuario}}</h4>
	              	</div>
	            </div>

        	</div>
      	</div>
  	</div>
</div>

</div>	


